In [1]:
import json
import pandas as pd

In [2]:
#data types
#list
my_list = []
word = ["poop", "peep"]
my_list.append(1)
print(my_list)

my_list.append(word)
print(my_list)

my_list.extend(["word", "cat"])
print(my_list)

print(my_list [1][1])
print(my_list [3])

print(len(my_list))

[1]
[1, ['poop', 'peep']]
[1, ['poop', 'peep'], 'word', 'cat']
peep
cat
4

In [3]:
#dictionary/json
my_json = {}

my_json["supplies"] = []
my_json["organic"] ={}
print(my_json)

my_json["supplies"].extend(["bin", "gloves", "ethanol"])
my_json["supplies"].append(["filter", "tape"])
print(my_json)

my_json["organic"]["substrate"] = ["millet", "hardwood"]
my_json["organic"]["spores"] = ["oyster", "chicken"]
print(my_json)

print(my_json.keys())
print(json.dumps(my_json))
print(my_json["organic"]["spores"][0])
print(my_json["supplies"][1])

{'supplies': [], 'organic': {}}
{'supplies': ['bin', 'gloves', 'ethanol', ['filter', 'tape']], 'organic': {}}
{'supplies': ['bin', 'gloves', 'ethanol', ['filter', 'tape']], 'organic': {'substrate': ['millet', 'hardwood'], 'spores': ['oyster', 'chicken']}}
dict_keys(['supplies', 'organic'])
{"supplies": ["bin", "gloves", "ethanol", ["filter", "tape"]], "organic": {"substrate": ["millet", "hardwood"], "spores": ["oyster", "chicken"]}}
oyster
gloves

In [4]:
#tables

# List1
Name = ['tom', 'krish', 'nick', 'juli']
 
# List2
Age = [25, 30, 26, 22]

# get the list of tuples from two lists.
# and merge them by using zip().
list_of_tuples = list(zip(Name, Age))
 
# Assign data to tuples.
list_of_tuples

# Converting lists of tuples into
# pandas Dataframe.
df = pd.DataFrame(list_of_tuples, columns = ['Name', 'Age'])
  
# Print data.
df

    Name  Age
0    tom   25
1  krish   30
2   nick   26
3   juli   22

In [5]:
#for loop

print(my_json.keys())

dict_keys(['supplies', 'organic'])

In [6]:
for x in my_list:
    print(x)

1
['poop', 'peep']
word
cat

In [7]:
loop_number = 1

for key in my_json.keys():
    print(loop_number)
    print(my_json[key])
    loop_number += 1

1
['bin', 'gloves', 'ethanol', ['filter', 'tape']]
2
{'substrate': ['millet', 'hardwood'], 'spores': ['oyster', 'chicken']}

In [8]:
for loop_number, key in enumerate(my_json. keys()):
    
    print(str(loop_number))
    print(my_json[key])

0
['bin', 'gloves', 'ethanol', ['filter', 'tape']]
1
{'substrate': ['millet', 'hardwood'], 'spores': ['oyster', 'chicken']}

In [9]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
    newlist.append("fruit_" + x)

print(newlist)

['fruit_apple', 'fruit_banana', 'fruit_cherry', 'fruit_kiwi', 'fruit_mango']

In [10]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = ["fruit_" + x for x in fruits]

print(newlist)

['fruit_apple', 'fruit_banana', 'fruit_cherry', 'fruit_kiwi', 'fruit_mango']

In [19]:
def fruitadd (inputlist):
    newlist = ["fruit_" + str(x) for x in inputlist]
    return newlist

In [20]:
fruitadd(fruits)

['fruit_apple', 'fruit_banana', 'fruit_cherry', 'fruit_kiwi', 'fruit_mango']

In [21]:
fruitadd(my_list)

['fruit_1', "fruit_['poop', 'peep']", 'fruit_word', 'fruit_cat']